header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo {
  font-family: var(--font-logo);
  font-size: var(--f-size-large);
}

header nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  font-family: var(--font-common);
  font-size: calc(var(--f-size-normal) + 4px);
  position: relative;
  z-index: 100;
  transition: all .5s ease-in-out;
  padding: 5px;
  text-align: center;
  width: 300px;
}

header nav a:hover {
  color: white;
}

header nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--black);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width .4s ease;
}

header nav a:hover::after{
  width: 100%;
}

header  .bar{
  width: 60px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
header  .bar > div{
  width: 100%;
  height: 4px;
  background: var(--black);
  transition: transform .4s ease;
}


.toolbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolbar .time {
  font-family: var(--font-writer);
  font-size: var(--f-size-medium);
}

.toolbar .time .t {
  font-weight: bold;
  font-size: calc(var(--f-size-medium) + 2px);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  border: 1px solid;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  font-family: var(--font-common);
  color: var(--black);
}

.search__button {
  border: none;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  background: none;
}

:root {
  --arrow-bg: var(--black);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
* {
  box-sizing: border-box;
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 10rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: var(--black);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  option {
    color: inherit;
    background-color: var(--option-bg);
    border: none;
  }
}

main {
  width: 100%;
  min-height: 80vh;
  height: auto;
}

.quotes {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.quotes .wrapper {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

.quotes .quote-cards {
  width: 100%;
  max-width: 800px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  align-items: start;
  padding: 20px 0px 20px 40px;
}

.quotes .quote-cards .quote-card {
  width: 700px;
  height: 150px;
}

.quotes .quote-cards .quote-card .quote {
  font-family: var(--font-quote);
  font-size: var(--f-size-medium);
  font-weight: 600;
}
.quotes .quote-cards .quote-card .writer {
  font-family: var(--font-writer);
  text-align: right;
  font-size: var(--f-size-medium);
  font-weight: 600;
  font-style: italic;
}

.quotes .quote-cards .quote-card .tags {
  display: none;
}

.quotes .quote-cards .quote-card .response {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quotes .quote-cards .quote-card .response > i {
  font-size: var(--f-size-medium);
}

.quotes .quote-cards .quote-card .response > p {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-family: var(--font-common);
}

footer button {
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: var(--f-size-medium);
  border-radius: var(--circle);
  background: none;
}

#message {
  text-align: center;
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 40px;
    justify-content: space-between;
    position: relative;
  }

  header nav{
    position: absolute;
    right: 30%;
    width: auto;
    flex-direction: column;
    transform: scaley(0);
    transition: transform .4s ease;
    transform-origin: top;
    background: white;
  }

  header .bar{
    display: flex;
  }

  header nav a{
    width: auto;
  }


  .toolbar {
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    gap: 20px;
  }

  .quotes .wrapper {
    padding: 0;
  }

  .quotes .quote-cards {
    max-width: 100%;
    padding: 0 2%;
  }

  .quotes .quote-cards .quote-card {
    width: 100%;
  }
}



.form {
  background-color: var(--white);
  color: var(--black);
  padding: 2rem;
  width: 100%;
  height: 80vh;
  border-radius: var(--radius);
}

.wrapper {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form .instruction p {
  font-family: var(--font-writer);
  font-size: var(--f-size-medium);
  margin-bottom: 1rem;
}

.form .instruction ul {
  list-style-type: none;
  padding-left: 1.5rem;
  font-family: var(--font-quote);
  font-size: var(--f-size-medium);
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input,
.form textarea {
  font-family: var(--font-common);
  font-size: var(--f-size-normal);
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  background-color: var(--black);
  color: var(--white);
  resize: none;
  outline: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--white);
}


.form form  button {
  font-family: var(--font-common);
  font-size: var(--f-size-normal);
  padding: 0.8rem;
  background-color: var(--white);
  color: var(--black);
  border:2px solid var(--black) ;
  border-radius: var(--radius);
  cursor: pointer;
  border: 2px solid var(black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form form  button:hover {
  background-color: var(--black);
  color: var(--white);
}

.form  button {
  font-family: var(--font-common);
  font-size: var(--f-size-normal);
  padding: 0.8rem;
  background-color: var(--white);
  color: var(--black);
  border:2px solid var(--black) ;
  border-radius: var(--radius);
  cursor: pointer;
  border: 2px solid var(black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form  button:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 600px) {
  .form {
      padding: 1rem;
  }

  .wrapper {
      padding: 0.5rem;
  }

  .form input,
  .form textarea {
      font-size: var(--f-size-small);
      padding: 0.6rem;
  }

  .form form button {
      font-size: var(--f-size-small);
      padding: 0.6rem;
  }

  .form .instruction p {
    font-size: var(--f-size-medium);
  }
}